/*TODO
- Highlight list item
- Hide list item
- Remove from list
- go to time frame, but dont filter
- global line number
- decrease margins on list-view
- verify key and redraw on v-for list
- templating in ui, from imported log format string, even properties file
- import workspace and click to view rules file
- offline/local client version of extension with online webservices to parse/serve files
- caching of current variables to allow refresh
- go-to line

*/

<template>
  <div class="container-fluid" id="myapp">
    <div class="row">
      <div class="col-sm-3 bg-light">
        <h3><img src="./assets/kurmi-logo.png" width="100px" /> Log Viewer</h3>
        <button
          class="btn btn-outline-primary btn-block"
          v-if="!showUploadDialog"
          @click="showUploadDialog = true"
        >paste logs</button> 
        <label class="btn btn-outline-primary btn-block">override with selected items <input v-model="useSelectedItems" type="checkbox" /></label>
        <label class="btn btn-outline-primary btn-block">sticky selected items <input v-model="stickySelectedItems" type="checkbox" /></label>
        <button
          class="btn btn-outline-primary btn-block"
          v-if="!showUploadDialog"
          @click="selectedItems = []"
        >clear selected items</button>
        <button
          class="btn btn-outline-primary btn-block"
          v-if="!showUploadDialog"
          @click="printSelected()"
        >print selected items</button>  
        <hr>
        <div class="form-group">
          <label>Current Kurmi Version</label>
          <input class="form-control" disabled :value="kurmiVersion">
        </div>
        <div class="form-group">
          <label>Search Regex</label>
          <input class="form-control" placeholder="/regex/gi" v-model.lazy="searchExpression">
        </div>
        <div class="form-group row" v-if="true">
          <label class="col-sm-3">Debug Levels</label>
          <div class="col-sm-9">
            <div class="form-check form-check-inline" :key="i" v-for="(level, i) in debugTypes">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  v-model="debugLevels"
                  :value="level"
                >
                {{level}} ({{debugCounts[level]}})
              </label>
            </div>
          </div>
        </div>
<hr/>  
        <div class="form-group row" v-if="true">
          <label class="col-sm-3">Tenants 🏢 <label><input type="radio" />None</label><input type="radio" />All</label>   <a href="#" @click="selectedTenants = []">x</a></label>
          <br>
          <div class="col-sm-9">
            <label class>
              <input class type="checkbox" v-model="selectedTenants" value="non-tenant">
              *Non-Tenant-Info*
            </label>
            <div
              class="form-check form-check-inline"
              :key="i"
              :value="tenant"
              v-for="(tenant,i) in tenants"
            >
              <label class>
                <input class type="checkbox" v-model="selectedTenants" :value="tenant">
                {{tenant}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <select multiple class="form-control">
            <option :key="i" v-for="(mod, i) in kurmiModules">{{mod}}</option>
          </select>
          <select v-if="false" class="form-control" v-model="currentModule">
            <optgroup :key="p" v-for="p in Object.keys(currentModule)" :label="p">
              <option :key="_p" v-for="_p in Object.keys(currentModule[p])" :value="currentModule[p][_p]">{{_p}}</option>
            </optgroup>
            <optgroup></optgroup>
          </select>
        </div>
        <div v-if="filteredItems.length" class="form-group">
          <label>From</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend" v-if="startTime">
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon1"
                @click="startTime = null"
              >X</button>
            </div>
            <input
              class="form-control"
              :placeholder="filteredItems[0].split(' | ')[0]"
              v-model.lazy="startTime"
            >
          </div>
        </div>
        <div v-if="filteredItems.length" class="form-group">
          <label>To</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend" v-if="endTime">
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon1"
                @click="endTime = null"
              >X</button>
            </div>
            <input
              class="form-control"
              :placeholder="filteredItems[filteredItems.length-1].split(' | ')[0]"
              v-model.lazy="endTime"
            >
          </div>
        </div>
        
        <div class="form-group row">
          <label
            class="col-sm-6"
          >Page: {{page}}/{{Math.ceil(filteredItems.length / pageSize)}} (Items: {{1+((page-1)*pageSize)}}-{{Math.min(filteredItems.length, page*pageSize)}}/{{filteredItems.length}})</label>
          <div class="col-sm-6" v-if="Math.ceil(filteredItems.length / pageSize) > 20">
            <input
              class="form-control"
              type="number"
              min="1"
              :max="Math.ceil(filteredItems.length / pageSize)"
              v-model.lazy="page"
            >
          </div>
          <div class="col-sm-6" v-else>
            <select class="form-control" v-model.lazy="page">
              <option
                :key="i"
                :value="p"
                v-for="(p, i) in Math.ceil(filteredItems.length / pageSize)"
              >Page {{p}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4">Items Per Page</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              type="number"
              v-model.lazy="pageSize"
              min="1"
              :max="filteredItems.length"
            >
          </div>
        </div>
        <div class="form-group row">
             <label class="col-sm-4">View</label>
          <div class="col-sm-8">
            <select v-model="view" class="form-control">
              <option :key="v" v-for="v in views">{{v}}</option>
            </select>
            
          </div>
        </div>
        <div class="form-group row" >
             <label class="col-sm-4">Log Number</label>
          <div class="col-sm-8">
            <select v-model="currentLogURL" class="form-control">
              <option :key="l" v-for="l in listOfCurrentLogURLs">{{l.split('/').reverse()[0]}}</option>
            </select>
            
          </div>
        </div>
        
        <hr>
<button
          class="btn btn-outline-primary btn-block"
         
        >Apply</button>
        <hr>

        <div class="card bg-light">
          <div class="card-body">
            <label>
              <b>{{filteredCount}}</b> Filtered -
              <b>{{searchedCount}}</b> Matched /
              <b>{{items.length}}</b> Total
            </label>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                :style="'width: '+ Math.floor(searchedCount*100/items.length) +'%'"
                aria-valuenow="15"
                aria-valuemin="0"
                aria-valuemax="100"
              >{{searchedCount}} Searched</div>
              <div
                class="progress-bar bg-info"
                role="progressbar"
                :style="'width: '+ Math.floor((filteredCount-searchedCount)*100/items.length) +'%'"
                aria-valuenow="20"
                aria-valuemin="0"
                aria-valuemax="100"
              >{{filteredCount}} Filtered</div>
            </div>
            <label>
              <b>{{paginatedFilteredItems.length}}</b>
              Visible / {{items.length}} Total
            </label>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                :style="'width: '+ Math.floor((page-1)*pageSize*100/items.length) +'%'"
                aria-valuenow="15"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
              <div
                class="progress-bar bg-info progress-bar-striped"
                role="progressbar"
                :style="'width: '+ Math.floor(paginatedFilteredItems.length*100/items.length) +'%'"
                aria-valuenow="15"
                aria-valuemin="0"
                aria-valuemax="100"
              >{{paginatedFilteredItems.length}} Items</div>
            </div>
            <label>
              <b>{{paginatedFilteredItems.length}}</b> Visible /
              <b>{{filteredItems.length}}</b> Filtered
            </label>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                :style="'width: '+ Math.floor((page-1)*pageSize*100/filteredItems.length) +'%'"
                aria-valuenow="15"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
              <div
                class="progress-bar bg-info progress-bar-striped"
                role="progressbar"
                :style="'width: '+ Math.floor(paginatedFilteredItems.length*100/filteredItems.length) +'%'"
                aria-valuenow="15"
                aria-valuemin="0"
                aria-valuemax="100"
              >{{paginatedFilteredItems.length}} Items</div>
            </div>
          </div>
        </div>
        <ol v-if="false">
          <li :key="item" v-for="item in selectedItems">{{item}}</li>

          </ol>

        
      </div>
      <div class="col-sm-9">
            <fieldset v-if="showUploadDialog">
      <div class="form-group" v-if="false">
        <label>kurmilogurl</label>
        <input
          v-model="kurmilogurl"
          class="form-control"
          placeholder="Paste https://[kurmi-url]/Kurmi/LogsRepository/webkurmi01/Logs_Infos.txt"
        >
        <br>
        <iframe :src="kurmilogurl"></iframe>
      </div>
      <div class="form-group">
        <label>Paste Kurmi Web Logs </label>
        <small>https://[kurmi-platform]/Kurmi/LogsRepository/webkurmi01/Logs_Infos.txt</small>
        <textarea
          id="logpaster"
          placeholder="24/01/19 09:05:30.101 |  INFO | [CONFIGURATION_CHECK Tenant:SYSTEM#SYSTEM #-1(0)] | [fr.niji.nates.config.DBStoredTenant$1] | Current Kurmi Version: 6.5.0.24&#10;24/01/19 09:05:07.955 | DEBUG | [Dynamic Scheduler Adjuster - tenant #TENANT #242414 Tenant:test1#TENANT #242414(22)] | [fr.niji.nates.core.utils.SchedulerDynamicAdjuster] | Scheduler CCM9_0_R:1000 is sleeping"
          style="height: 400px"
          class="form-control"
          v-model="tempitems"
        ></textarea>
        <label v-if="false">browse file <input type="file" onchange="document.getElementById('localfilepath').value = this.value" /><input id="localfilepath" v-model="localFilePath"/></label><button v-if="false" @click="loadFromLocalFile">load</button>
      </div>

      <input
        class="form-control btn btn-primary"
        type="button"
        value="Parse"
        @click="convertTempItems"
      >
    </fieldset>
    <div v-else>
      <div v-if="loadingFile == true" class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
      <div   v-if="view == 'list-view'">
        <ul :class="['list-group']">
          <li
            :title="item"
            :key="index + item.split(' | ')[0]"
            :class="[messageLevelClass(item), 'list-group-item', {'xactive': selectedItems.includes(item)}]"
            v-for="(item, index) in paginatedFilteredItems"
            @dblclick="selectedItems.includes(item) ? selectedItems.splice(selectedItems.indexOf(item), 1) : selectedItems.push(item)"
          >
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1">
                <span
                  :class="['badge', badgeLevelClass(messageLevelClass(item)),'badge-pill']"
                >{{item.split(' | ')[1]}}</span>
                <span
                  v-if="findTenant(item.split(' | ')[2])"
                  :class="['badge','badge-dark', 'badge-pill']"
                >🏢 {{findTenant(item.split(' | ')[2])}}</span>
                {{item.split(' | ')[2]}}
              </h6>
              <small><span v-if="selectedItems.includes(item)" v-text="'✔'"></span> {{item.split(' | ')[0]}}</small>
            </div>
            <p class="mb-1">{{item.split(' | ')[3] ? item.split(' | ')[3] : item}}</p>
            <small>
                <pre v-if="item.match(/(<.+?>)|(&lt;.+?&gt;)/gi) || listOfpretagsToFormatByPagedIndex.includes(index)" v-html="formatPre(item.split(' | ').slice(4).join(' | '))"></pre>
              <pre v-else><label v-if="item.match(/(<.+?>)|(&lt;.+?&gt;)/gi)" title="Pretty Print?">🖨<input type="checkbox" v-model="listOfpretagsToFormatByPagedIndex" :value="index" /> </label>{{ item.split(' | ').slice(4).join(" | ") }}</pre>
            </small>
          </li>
        </ul>
      </div>
      <div v-else>
        <pre @dblclick="selectedItems.includes(item) ? selectedItems.splice(selectedItems.indexOf(item), 1) : selectedItems.push(item)" :class="['line-view-pre', {'active': selectedItems.includes(item)}]" :key="index + item.split(' | ')[0]" v-for="(item, index) in paginatedFilteredItems" v-html="item" :title="item"></pre>

        
      </div>
      <hr>
      
          <nav class="center" aria-label="...">
        <ul class="pagination">
          <li v-if="page > 3" class="page-item">
            <a @click="page = 1" class="page-link" href="#">1</a>
          </li>
          <li v-if="page > 4" class="page-item">
            <a @click="page--" class="page-link" href="#">Prev</a>
          </li>
          <li  v-show="p < (page+3) && p > (page-3)"  :key=i v-for="(p, i) in Math.ceil(filteredItems.length / pageSize)" :class="['page-item', { 'active' : page==p }]">
            <span v-if="p === (1*page)" class="page-link" >
              {{page}} 
              <span class="sr-only">(current)</span>
            </span>
            <a @click="page = p" v-else class="page-link" href="#" >{{p}}</a>
            
            
          </li>
          
          <li v-if="page < Math.ceil(filteredItems.length / pageSize)-3" class="page-item">
            <a @click="page++" class="page-link" href="#">Next</a>
          </li>
          <li v-if="page < Math.ceil(filteredItems.length / pageSize)-2" class="page-item">
            <a @click="page = Math.ceil(filteredItems.length / pageSize)" class="page-link" href="#">{{Math.ceil(filteredItems.length / pageSize)}}</a>
          </li>
          
        </ul>
      </nav>


      </div>
      </div>  
    </div>
  </div>
</template>

<script>
export default {
  //el: "#myapp",
  data: function() {
    return {
      kurmiVersion: "",
      items: [],
      selectedItems: [],
      showUploadDialog: true,
      useSelectedItems: false,
      stickySelectedItems: false,
      page: 1,
      pageSize: 100,
      kurmilogurl: "",
      tempitems: "",
      searchExpression: "",
      helloMsg: "hello world",
      debugLevels: [],
      debugTypes: ["info", "error", "warn", "debug", "fatal", "exception"],
      tenants: [],
      kurmiModules: [],
      selectedTenants: [],
      debugCounts: {},
      searchedCount: 0,
      filteredCount: 0,
      startTime: null,
      endTime: null,
      parentModule: {},
      currentModule: {},
      localFilePath: null,
      listOfpretagsToFormatByPagedIndex: [],
      view: 'list-view',
      views: ['list-view', 'line-view'],
      PFBaseURL: null,
      currentLogURL: "/LogsRepository/webkurmi01/Logs_Infos.txt",
      listOfCurrentLogURLs: [
        "/LogsRepository/webkurmi01/Logs_Infos.txt", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.1", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.2", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.3", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.4", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.5", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.6", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.7", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.8", 
        "/LogsRepository/webkurmi01/Logs_Infos.txt.9"
        ],
        loadingFile: false,
      wlhRoute: JSON.parse(decodeURI((window.location.hash.split("#")|| ["",""])[1]))
    };
  },

  computed: {

    kurmiModuleMap: function() {
      var dotRouter = function(obj, strPath) {
          var cL = obj
          strPath.split('.').forEach(function(l){
              cL = cL[l]
          });
          return cL;
      }
      var isPropSet = function(obj, prop) {
        return obj[prop] || {};
      };

      var $map = {};
      this.kurmiModules.forEach(function(mod) {
        var curLevel = $map;
        mod.split(".").forEach(function(seg, i) {
          curLevel[seg] = isPropSet(curLevel, seg);
          curLevel = curLevel[seg];
        });
      });
      return $map;
    },
    paginatedFilteredItems: function() {
      return this.filteredItems.slice(
        (this.page - 1) * this.pageSize,
        (this.page - 1) * this.pageSize + 1 * this.pageSize
      );
    },
    filteredItems: function() {
      this.updateHash();

      var $this = this;
      var includeAsSticky = function(i) {
        return $this.stickySelectedItems && $this.selectedItems.includes(i);
      }

      console.log(
        "Filtering Items",
        this.items ? this.items.length : " | items not found"
      );
      //console.log("Filtering Items on", this.debugLevels.join(", "), this.selectedTenants.join(', '))
      //this.debugCounts = this.debugTypes.reduce((p,c,i,a)=> { p[c] = 0; return p}, {})
      for (var key in this.debugCounts) {
        //console.log(key, this.debugCounts[key])
        this.$set(this.debugCounts, key, 0);
      }
      var c = 0;
      
      var filtered = this.useSelectedItems ? this.selectedItems.sort((a,b)=> a.localeCompare(b)) : this.items;
      filtered = filtered.filter(i => {
        var tenant = $this.findTenant(i) || "non-tenant";
        var debugLevel = i.split(" | ")[1] || "";
        var isTenantSelected = $this.selectedTenants.includes(tenant);

        if (isTenantSelected) {
          $this.debugCounts[debugLevel.toLowerCase().trim()]++;
        }

        var evalu =
          isTenantSelected &&
          $this.debugLevels.includes(debugLevel.toLowerCase().trim());
        c += evalu === true ? 1 : 0;
        return includeAsSticky(i) || evalu === true;
      });
      console.log(`Found ${c} vs ${filtered.length}`);
      this.searchedCount = c;
      //console.log("Found Counts: ",this.debugCounts)
      this.kurmiModules = Object.keys(
        filtered
          .map(i => i.split(" | ")[3])
          .reduce((p, c, i, a) => {
            p[c.slice(1, c.length - 1)] = null;
            return p;
          }, {})
      ).sort((a, b) => a.localeCompare(b));
      var flags = this.searchExpression.replace(/.*\/([gimy]*)$/, "$1");
      var pattern = this.searchExpression.replace(
        new RegExp("^/(.*?)/" + flags + "$"),
        "$1"
      );
      var regex = new RegExp(pattern, flags != pattern ? flags : "");
      this.filteredCount = filtered.length;
      var searched = filtered.filter(i => includeAsSticky(i) || i.match(regex));
      this.searchedCount = searched.length;
      if (this.startTime || this.endTime) {
        var $startTime = this.startTime
          ? new Date(
              this.startTime.replace(/(\d\d)\/(\d\d)\/(\d\d) /, "20$3-$2-$1 ")
            )
          : new Date("01/01/1900");
        var $endTime = this.endTime
          ? new Date(
              this.endTime.replace(/(\d\d)\/(\d\d)\/(\d\d) /, "20$3-$2-$1 ")
            )
          : new Date("01/01/2999");
        return searched.filter(function(i) {
          var timestamp = new Date(
            (i.split(" | ") || ["01/01/01 00:00:00.000"])[0].replace(
              /(\d\d)\/(\d\d)\/(\d\d) /,
              "20$3-$2-$1 "
            )
          );

          return includeAsSticky(i) || timestamp >= $startTime && timestamp <= $endTime;
        });
      }
      return searched;
    }
  },
  methods: {
    printSelected: function() {
        var myWindow = window.open("", "MsgWindow", "width=100%,height=300");
      myWindow.document.write(`<pre>${this.selectedItems.sort((a,b)=> a.localeCompare(b)).join("\r\n")}</pre>`);
    },
    updateHash: function() {
      window.location.hash = JSON.stringify(["PFBaseURL","currentLogURL","pageSize", "searchExpression", "page", "pageSize", "debugLevels", "startTime", "endTime", "view", "useSelectedItems", "selectedTenants"].filter(i => this[i] && this[i].length).reduce((p,c,a,i) => { p[c] = this[c]; return p }, {}));

    },
    loadFromLocalFile: function() {
      this.showUploadDialog = false;
      /*var $this = this;
      const url = chrome.runtime.getURL($this.localFilePath);
      
      fetch(url)
      //.then((response) => response.json()) //assuming file contains json
      .then((json) => $this.tempitems = json);
      
      */
      
      var xhttp = new XMLHttpRequest();
      var $this = this;
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          $this.tempitems = this.responseText;
          $this.convertTempItems();
        }
        else {
          console.log("Error getting logs async: " + this.status)
        }
      };
      xhttp.open(
        "GET",
        $this.localFilePath,
        true
      );
      console.log("sending...");
      xhttp.send();
    },

    changePreToXMLstyled: function(event){
          
        if (confirm("Do you want to format this string matching xml")) {
            event.target.innerHTML = this.formatPre(event.target.innerHTML)
        }
    },
    XMLTree: function(xmlString, indent) {
      indent = indent || "\t"; //can be specified by second argument of the function

      var tabs = ""; //store the current indentation

      var result = xmlString.replace(
        /\s*<[^>\/]*>[^<>]*<\/[^>]*>|\s*<.+?>|\s*[^<]+/g, //pattern to match nodes (angled brackets or text)
        function(m, i) {
          m = m.replace(/^\s+|\s+$/g, ""); //trim the match just in case

          if (i < 38) if (/^<[?]xml/.test(m)) return m + "\n"; //if the match is a header, ignore it

          if (/^<[/]/.test(m)) {
            //if the match is a closing tag
            tabs = tabs.replace(indent, ""); //remove one indent from the store
            m = tabs + m; //add the tabs at the beginning of the match
          } else if (/<.*>.*<\/.*>|<.*[^>]\/>/.test(m)) {
            //if the match contains an entire node
            //leave the store as is or
            //m = m.replace(/(<[^\/>]*)><[\/][^>]*>/g, "$1 />");  //join opening with closing tags of the same node to one entire node if no content is between them
            m =
              tabs +
              m
                .replace(">", ">\n" + tabs + "\t")
                .replace("</", "\n" + tabs + "</"); //add the tabs at the beginning of the match
          } else if (/<.*>/.test(m)) {
            //if the match starts with an opening tag and does not contain an entire node
            m = tabs + m; //add the tabs at the beginning of the match
            tabs += indent; //and add one indent to the store
          } //if the match contain a text node
          else {
            m = tabs + m; // add the tabs at the beginning of the match
          }

          //return m+"\n";
          return "\n" + m; //content has additional space(match) from header
        } //anonymous function
      ); //replace

      return result;
    },
    formatPre: function(pre) {
      try {
        if (pre.match(/(<\/.+>)|(&lt;.+?&gt;)/g)) {
          var tabs = 0;
          var lastTab = null;
          pre = pre.replace(/&lt;/g, "<").replace(/&gt;/g, ">")
          var $xml = this.XMLTree(pre, "  ").trim();
          $xml = $xml.replace(/\s(\w+.+?)=/gi, ' vartag$1closevar=')
            $xml = $xml.replace(/="(.+?)"/gi, '="kbdtag$1closekbd"')
            $xml = $xml.replace(/(<\/?(.+?)>)/gi, "strongtextsuccess$1closestrong")
            $xml = $xml.replace(/(&lt;(.+?)&gt;)/gi, "strongtextsuccess$1closestrong")
            //$xml = $xml.replace(/((\w+:?)+?)="(.+?)"/gi, 'vartag$1closevar="kbdtag$2closekbd"')
            
            $xml = $xml.replace(/</g, "&lt;").replace(/>/g, "&gt;")
            $xml = $xml.replace(/vartag/g, "<var class=\"text-primary\">")
            $xml = $xml.replace(/closevar/g,"</var>")
            $xml = $xml.replace(/kbdtag/g, "<em class=\"text-danger\">")
            $xml = $xml.replace(/closekbd/g, "</em>")
            $xml = $xml.replace(/strongtextsuccess/g, "<strong class=\"text-success\">")
            $xml = $xml.replace(/strongtextsuccess/g, "<strong class=\"text-success\">")
            $xml = $xml.replace(/closestrong/g, "</strong>")
            $xml = $xml.replace(/\r?\n/g, "<br>")
            $xml = $xml.replace(/\t/g, "&nbsp;&nbsp;")
            
          return   $xml;
        }
      } catch (e) {
        console.log(e);
      }
      return pre;
    },
    htmlencoder: function(str) {
      return (
        str
          .replace(/\t/g, "&nbsp;&nbsp;&nbsp;&nbsp;")
          .replace(/\s{2}/g, "&nbsp;&nbsp;")
          .replace(/\r?\n/g, "</br>")
          .replace(/\r?\n/g, "</br>")
          //.replace(/\'(.+?)\'/g,"<mark>'$1'</mark>")
          .replace(/([\s^]'[^']+')/g, '<span class="text-info">$1</span>')
        //.replace(/(?=.)\'(\s|$)/g, '\'</span> ')
        //.replace(/\s\'(?=.)/g, " <span class=\"text-info\">'")
      );
    },
    convertTempItems: function() {
      console.log("convertTempItems");
      this.tenants = [];
      this.showUploadDialog = false;
      this.selectedTenants = [];
      this.tenants = [];
      //this.items = this.tempitems.split(/\n\S/g)
      var versionMatches = this.tempitems.match(
        /(?<=Current Kurmi Version\: )(.+?)\n/
      );
      this.kurmiVersion = versionMatches ? versionMatches.reverse()[0] : "?";
      alert("Current Kurmi Version: " + this.kurmiVersion);
      this.items = this.tempitems.split(/\n(?=\d\d\/\d\d\/\d\d)/g);
      console.log(`split ${this.items.length} records`);
      this.tenants.forEach(t => this.selectedTenants.push(t));
      this.selectedTenants.push("non-tenant")
      this.tenants.sort((a, b) => a.localeCompare(b));
    },
    findTenant: function(str) {
      //console.log("findTenant");
      if (str.toLowerCase().includes("tenant")) {
        var find = str.toLowerCase().match(/(?<=tenant\:)([\w+-]){1,}/g) || [];
        if (find.length) {
          var tenant = find[0].replace(/\s/g, "");
          //console.log(tenant)
          this.addTenant(tenant);
          return tenant;
          //console.log("tenant", find);
        } else return null;
      }
      return null;
    },
    addTenant: function(tenant) {
      //console.log("addTenant", tenant);
      if (!this.tenants.some(t => t === tenant)) {
        var i = this.tenants.push(tenant);
        this.selectedTenants.push(tenant);
        this.tenants.sort((a, b) => a.localeCompare(b));
      }
    },
    badgeLevelClass: function(level) {
      var mtc = level.match(/INFO|ERROR|WARN|DEBUG/gi) || [];
      if (mtc) {
        switch (mtc[0].toLowerCase()) {
          case "fatal": {
            return "badge badge-danger";
          }
          case "error": {
            return "badge badge-warning";
          }
          case "warn": {
            return "badge badge-warning";
          }
          case "info": {
            return "badge badge-info";
          }
          case "debug": {
            return "badge badge-primary";
          }
          default: {
            return `badge badge-secondary`;
          }
        }
      }
    },
    messageLevelClass: function(str) {
      //str = str.toUpper();
      var strClass = [];
      if (!str) {
        return "";
      }
      if (str.includes("INFO")) {
        strClass.push("info");
      } else if (str.includes("ERROR")) {
        strClass.push("error");
      } else if (str.includes("WARN")) {
        strClass.push("warn");
      } else if (str.includes("DEBUG")) {
        strClass.push("debug");
      } else if (str.includes("exception")) {
        strClass.push(str.includes("if exception") ? "" : "exception");
      }

      if (str.toLowerCase().includes("tenant")) {
        var find = str.toLowerCase().match(/(?<=tenant\:)([\w+-]){1,}/g) || [];
        if (find.length) {
          var tenant = find[0]; //.replace(/\s/g,'')
          this.addTenant(tenant);
          strClass.push(tenant);
          //console.log("tenant", find);
        }
      }

      return strClass.join(" ");
    }
  },
  watch: {
    page: function(value) {

    },
    selectedTenants: function(value) {

    },
    debugLevels: function(value) {

    },
    pageSize: function(newValue, oldValue) {
      var oldPageCount = Math.ceil(this.filteredItems.length / oldValue);
      var newPageCount = Math.ceil(this.filteredItems.length / newValue);
      console.log("oldPageCount", oldPageCount);
      console.log("newPageCount", newPageCount);
      console.log("oldPage", this.page * 1);
      this.page = Math.max(
        Math.ceil((this.page * 1 * newPageCount) / oldPageCount) - 1,
        1
      );
      console.log("newPage", this.page * 1);
    },
    kurmilogurl: function(value) {
      console.log("kurmilogsurl changed");
      this.tempitems = window.frames[0].document.body.innerHTML;
    }
  },
  beforeMount: function() {
    var $this = this;
    this.tenants = [];
    if (window.location.hash.match(/Logs_Infos\.txt\.\d/i))
    {
        this.currentLogURL = this.listOfCurrentLogURLs.find(i => i.match(window.location.hash.match(/Logs_Infos\.txt\.\d/i)[0])) || this.currentLogURL;

    }
    
    var logsLocationReg = /(https?:\/\/(.+?)\/Kurmi)/gi;
    var $match = decodeURI(window.location.hash.slice(1)).match(logsLocationReg);
    console.log($match);
    if ($match) {
      this.showUploadDialog = false;
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          $this.tempitems = this.responseText;
          $this.convertTempItems();
        }
        else {
          console.log("Error getting logs async: " + this.status)
        }
      };
      xhttp.open(
        "GET",
        decodeURI(window.location.hash.slice(1)).match(logsLocationReg)[0] +
          $this.currentLogURL || "/LogsRepository/webkurmi01/Logs_Infos.txt",
        true
      );
      xhttp.send();
    }
    //populate stored values from hash.
    

  },
  mounted: function() {
    console.log("mounted");
    var $this = this;

     this.debugLevels = this.debugTypes;
    this.debugCounts = this.debugTypes.reduce((p, c, i, a) => {
      p[c] = 0;
      return p;
    }, {});



    console.log("PFBaseURL is currently: " + $this["PFBaseURL"]);
    console.log("hash PFBaseURL is " + this.wlhRoute["PFBaseURL"])
    console.log("wlhRoute = " + JSON.stringify(this.wlhRoute))
    Object.keys(this.wlhRoute).forEach(function(k){
      $this[k] = $this.wlhRoute[k];
    });
   
    
    //this.currentModule = this.kurmiModuleMap
    //this.tenants.push("non-tenant")
    //$.getJSON('../api/kurmitail', function(jsonData){
    //console.log("got items")
    //   $this.items = jsonData

    //});
  }
};

window.onbeforeunload = function() {
  return
}

</script>

<style>
.example {
  color: red;
}

pre.line-view-pre {
  overflow:hidden !important;
  margin-top: 0px;
  margin-bottom:0px;
}

pre.line-view-pre.active {
  margin-left: -.8em;
}

pre.line-view-pre.active:before {
  content: "✔";
}

pre:hover.line-view-pre {
  overflow-x: scroll !important;
  background-color: #eee;
}

</style>